$color:rgba(28,48,65,1);
$headerColor: #f2711c;
.heating-container {
    padding: 20px;
    .image{
        height: 40px !important;
        width:45px !important;
    }
    .headerText{
        color:$headerColor !important;
    }

    .rooms {
        margin-top: 30px;
        .single-room {
            -webkit-box-shadow: -1px 3px 11px -1px rgba(21,47,79,1);
            -moz-box-shadow: -1px 3px 11px -1px rgba(21,47,79,1);
            box-shadow: -1px 3px 11px -1px rgba(21,47,79,0.2);
            border-radius: 10px;
            display: inline-block;
            cursor: pointer;
            transition: all 0.3s;    
            &:hover {
                background-color: rgb(212, 231, 255);
                margin-top: -5px
            }
            .single-room-inside {
                padding: 10px;
            }
            .room-icon{
                width: 20%;
                margin-top:10px;
                margin-left: 10px;
            }
            .room-name{
                margin: auto;
                position: relative;
                left:10px;
                top:-20px;
            }
        }
    }
}

.foundId {
    background-color: rgb(212, 231, 255);
}
.notFoundId {

    background-color: #fff;
}