.chat {
    height: 400px;
}
.new-message{
    background: transparent !important;
} 
.new-message-input {
    display: none !important;
}
.new-message-input {
    width: 99%;
    height: 80%;
    margin-top: 200px !important;
    font-size: 1.5rem;
  }